body {
    font-family: Arial, sans-serif;
}

#login {
    margin: auto;
    width: 300px;
    padding: 20px;
}

input[type=text], input[type=password] {
    width: 94%;
    padding: 10px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=submit] {
    background-color: #0066FF;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

input[type=submit]:hover {
    opacity: 0.8;
}
